HostDogControl/Connected Services/DogControlServiceReference/DogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51377/DogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51377/DogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51377/DogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceDogControl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDogService_GetAllDogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDogs" />
  </wsdl:message>
  <wsdl:message name="IDogService_GetAllDogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDogsResponse" />
  </wsdl:message>
  <wsdl:message name="IDogService_GetDog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDog" />
  </wsdl:message>
  <wsdl:message name="IDogService_GetDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDogResponse" />
  </wsdl:message>
  <wsdl:message name="IDogService_DeleteDog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDog" />
  </wsdl:message>
  <wsdl:message name="IDogService_DeleteDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDogResponse" />
  </wsdl:message>
  <wsdl:message name="IDogService_UpdateDog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDog" />
  </wsdl:message>
  <wsdl:message name="IDogService_UpdateDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDogResponse" />
  </wsdl:message>
  <wsdl:message name="IDogService_CreateDog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDog" />
  </wsdl:message>
  <wsdl:message name="IDogService_CreateDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDogResponse" />
  </wsdl:message>
  <wsdl:portType name="IDogService">
    <wsdl:operation name="GetAllDogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDogService/GetAllDogs" message="tns:IDogService_GetAllDogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDogService/GetAllDogsResponse" message="tns:IDogService_GetAllDogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDogService/GetDog" message="tns:IDogService_GetDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDogService/GetDogResponse" message="tns:IDogService_GetDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDogService/DeleteDog" message="tns:IDogService_DeleteDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDogService/DeleteDogResponse" message="tns:IDogService_DeleteDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDogService/UpdateDog" message="tns:IDogService_UpdateDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDogService/UpdateDogResponse" message="tns:IDogService_UpdateDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IDogService/CreateDog" message="tns:IDogService_CreateDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDogService/CreateDogResponse" message="tns:IDogService_CreateDog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDogService" type="tns:IDogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDogs">
      <soap:operation soapAction="http://tempuri.org/IDogService/GetAllDogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDog">
      <soap:operation soapAction="http://tempuri.org/IDogService/GetDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDog">
      <soap:operation soapAction="http://tempuri.org/IDogService/DeleteDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDog">
      <soap:operation soapAction="http://tempuri.org/IDogService/UpdateDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDog">
      <soap:operation soapAction="http://tempuri.org/IDogService/CreateDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DogService">
    <wsdl:port name="BasicHttpBinding_IDogService" binding="tns:BasicHttpBinding_IDogService">
      <soap:address location="http://localhost:51377/DogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>